<% include header_and_nav %>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Create a new Poll</h1>
      
    </div>
  </div>
  <div class="row">
 	
 	<div class="col-md-8 col-md-offset-2">
 		<form action="/polls/new" method="post">
			<div class="form-group">
			<input type="text" class="form-control" placeholder="Poll Name" name="pollname">
			<input type="text" class="form-control" placeholder="Options" name="polloptions">
			<input type="text" class="form-control" placeholder="URL for an image for this poll" name = "pollimage">
			<p>Please seperate options using commas</p><button class="btn btn-primary">Submit</button>
			</div>	
 		</form>
 	</div>
  <hr>
	</div></div>
  <% include footer %>