<% include header_and_nav %>

        <section>
            <h1>Recent Polls.</h1>
            <div class="card-group">
            <div class="row">
            <% polls.forEach(function(poll){  %>
                <div class="card m-1 col-md-3">
                <img src="<%= poll.pollImage %>" alt="Image belonging to a poll" class="card-img-top">
                <h3 class="card-text">
                  <a href="/polls/view/<%= poll._id %>"><%= poll.name %></a>
                </h3>
              </div>
            <% }); %>
              
              </div>
              </div>
        </section>

    </div>

  <% include footer %>