<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Free Code Camp Poll site: Login</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="">Login</h1>
    </div>
  </div>
  <div class="row">
 	
 	<form class ="form-inline" action="/login" method="post">
 		<div class="form-group col-md-8 col-md-offset-2">  
  			<input placeholder="email" type="text" class="form-control form-text" name="email"></input>
  			<input placeholder="password" type="text" class="form-control form-text" name="password"></input>
  			<button class ="btn btn-default">Submit</button>
  		</div>
  		
  	</form>

  </div>
  <hr>
</div>
  <% include footer %>