<% include header_and_nav %>
<div class="container-fluid">
  <div class="row">
 	<div class="col-md-8 col-md-offset-2">
		<p class="display-3"><%= UserName %>'s Polls</p>
    <div class="card">
    <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Name</th>
        <th>Delete</th>
      </tr>
      </thead>
    <tbody>

        <% polls.forEach(function(poll){  %>
        <tr>
          <td><a href="/polls/view/<%= poll._id %> "><%= poll.name %></a></td>
          <td><a href="polls/delete/<%= poll._id %>">Delete</a></td>
        </tr>

        <% }) %>
  </tbody>
</table>
    </div>

  </div>
  <hr>
	</div></div>
  <% include footer %>