<% include header_and_nav %>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="">Register</h1>
    </div>
  </div>
  <div class="row">
 	<form class ="form-inline" action="/register" method="post">
 		<div class="form-group">  
  			<input placeholder="Email" type="text" class="form-control form-text" name="email">
  			<input placeholder="Password" type="password" class="form-control form-text" name="password">
        <input placeholder="Comfirm Password" type="password" class="form-control form-text" name="comfirmPassword">
  			<button class ="btn btn-default">Submit</button>
  		</div>
  		
  	</form>

  </div>
  <hr>
</div>
  <% include footer %>